html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

/* Style for buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-record { background-color: #ff9800; color: #fff; }
.button-recording { background-color: #4CAF50; color: #fff; }
.button-data { background-color: #858585; color: #fff; }
.button-delete { background-color: #780320; color: #fff; }
.button-calibrate { background-color: #78035f; color: #fff; }
.button-sos { background-color: #2f007a; color: #fff; }
.button-sos-set { background-color: #5716be; color: #fff; }

.button:hover {
    background-color: #0056b3;
}

/* Style for form elements (checkboxes and input fields) */
.form-element {
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-element input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #4CAF50;
    cursor: pointer;
}

.form-element input[type="text"] {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Label styling */
.form-element label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Optional hover effect for the input */
.form-element input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}
